body {
  background-color: #dee2e6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.listado-personajes {
  width: 100%;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.personaje-contenedor {
  display: grid;
  height: 30em;
  border-radius: 0.5rem;
  width: 20em;
  gap: 1px;
  background-color: #ffffff;
  margin: 2px;
  border: 1px solid #dee2e6;
  padding: 20px;
  text-align: left;
  justify-content: center;
  align-content: center;
}
.personaje-contenedor p{
  margin:10px;
 
}
.personaje-contenedor img {
  max-width: 200px;
  max-height: 250px;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.contenedor-h1 {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 1;
}
.cabecera-h1 {
  background-color: var(--bg-color);
  padding: 16px;
  text-align: center;
}
